@charset "UTF-8";
main {
  padding-top: 20px;
}
.my-form p {
  line-height: 26px;
}
.my-form a {
  color: #f54ea2;
}
.my-form a:visited {
  color: #f54ea2;
}
.my-form a:hover {
  color: #bb3076;
}

.my-form .subtitle {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}
.my-form input[type='text'] {
  border: 1px solid #555555;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 0 5px;
}
.my-form input[type='button'] {
  width: 75px;
  height: 20px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  margin: 5px;
  cursor: pointer;
}

.caution {
  display: block;
  font-size: 1.2rem;
  color: #555555;
  padding: 0 40px;
  line-height: 22px;
}

.my-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f5f5f5;
  margin-top: 20px;
}
.my-form fieldset {
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}
.my-form fieldset p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.my-form select {
  border: 1px solid #555555;
  margin: 0 5px;
  height: 20px;
  background-color: #ffffff;
}
#field-name label {
  display: flex;
  align-items: center;
  width: 50%;
}
#field-name span {
  display: inline-block;
  width: 35px;
}
#field-name input[type='text'] {
  width: 60%;
}

#field-gender,
#field-birth {
  width: 100%;
}

#field-birth label {
  display: flex;
  align-items: center;
}

#field-address span {
  display: inline-block;
  width: 100%;
}
#field-address input[type='text'].postal_code {
  width: 100px;
}
#field-address input[type='text']:not(.postal_code) {
  width: 100%;
  max-width: 250px;
}

#btn-autofill {
  align-self: flex-end;
}

#field-file p {
  font-weight: bold;
}
#field-file input[type='file'] {
  font-size: 1.2rem;
}
#field-file #id-file {
  margin-bottom: 5px;
}
#field-file .card {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}
#field-file .card p,
#field-file .card span {
  line-height: 1;
}
#field-file ul {
  display: flex;
  flex-wrap: wrap;
  list-style: inside;
  list-style-type: disc;
}
#field-file ul li {
  font-size: 1.4rem;
  line-height: 24px;
  width: 100%;
}
#field-file .card img {
  width: 100%;
}
#field-file .caution {
  padding: 0 20px;
}

.my-form input[type='submit'] {
  width: 100%;
  height: 40px;
  border: 2px solid #555555;
  border-radius: 15px;
  background-color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  color: #555555;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

#agree-to-terms {
  padding: 20px 20px 60px;
}

@media screen and (min-width: 769px) {
  main .wrap {
    max-width: 1000px;
    margin: 0 auto;
  }
  .caution {
    text-align: center;
    font-size: 1.4rem;
  }
  .my-form {
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 40px;
  }
  .my-form p {
    font-size: 1.8rem;
    line-height: 28px;
  }
  .my-form .subtitle {
    width: 100%;
    max-width: 769px;
    margin: 0 auto 20px;
    font-size: 2rem;
  }
  .my-form fieldset {
    width: 100%;
    max-width: 769px;
    margin: 0 auto 20px;
  }
  .my-form input[type='text'] {
    font-size: 1.8rem;
    height: 23px;
  }
  .my-form select {
    height: 23px;
    font-size: 1.4rem;
  }

  #field-name p {
    width: 61.8%;
  }
  #field-name span {
    width: 50px;
  }

  #field-address p {
    margin-bottom: 10px;
  }
  #field-address label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  #field-address p:first-of-type label {
    width: auto;
  }
  #field-address label span {
    display: inline-block;
    width: auto;
  }
  #field-address input[type='text'] {
    margin-left: 40px;
  }
  #field-address input[type='text']:not(.postal_code) {
    width: 300px;
  }
  #btn-autofill {
    height: 30px;
    width: 100px;
    margin-left: 20px;
    font-size: 1.4rem;
    transition: all 0.2s ease;
  }
  #btn-autofill:hover {
    color: #f54ea2;
  }

  #field-file .card {
    max-width: 769px;
    margin: 20px auto 0;
  }
  #field-file ul li {
    font-size: 1.8rem;
    line-height: 28px;
    width: 50%;
  }

  .my-form input[type='submit'] {
    height: 60px;
    width: 350px;
    margin: 0 auto;
    transition: all 0.2s ease;
  }
  .my-form input[type='submit']:hover {
    cursor: pointer;
    color: #f54ea2;
    border-color: #f54ea2;
  }

  #agree-to-terms {
    font-size: 1.4rem;
    width: 100%;
    padding-bottom: 20px;
  }
}
