@charset "UTF-8";
main {
  background-color: #f5f5f5;
  padding: 20px 0 80px;
}
main .wrap {
  padding: 0 20px;
  box-sizing: border-box;
}
main .danger {
  color: #e7312d;
  text-decoration: underline;
}

#bank-info p {
  line-height: 1;
}
#bank-info .caution {
  font-size: 1.2rem;
  color: #555555;
}
#bank-info .subtitle {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}
#bank-info .card {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}
#bank-info .card .item {
  width: 50%;
  box-sizing: border-box;
}
#bank-info .card .item span {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
  color: #555555;
  padding-right: 20px;
}
#bank-info .card .item:first-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0.16);
}
#bank-info .card .item:nth-of-type(2) {
  padding-left: 20px;
}
#bank-info .card .item p {
  font-weight: bold;
  margin-top: 10px;
}

#bank-info label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}
#bank-info label input[type='text'] {
  border: 1px solid #555555;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 0 5px;
  margin-top: 10px;
  width: 61.8%;
  height: 40px;
}

#bank-info input[type='submit'] {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  border: 2px solid #555555;
  border-radius: 15px;
  background-color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  color: #555555;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 769px) {
  main {
    padding: 40px 20px;
    background-color: #ffffff;
  }
  main .wrap {
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #f5f5f5;
  }

  #bank-info {
    position: relative;
    max-width: 769px;
    margin: 0 auto;
  }
  #bank-info p {
    font-size: 1.8rem;
  }
  #bank-info .subtitle {
    font-size: 2rem;
  }
  #bank-info .caution {
    font-size: 1.4rem;
  }
  #bank-info label {
    margin-top: 20px;
  }

  #bank-info .card {
    width: 300px;
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    top: 80px;
    right: 20px;
  }

  #bank-info .card .item span {
    font-size: 1.4rem;
  }
  #bank-info label input[type='text'] {
    font-size: 1.8rem;
    width: 250px;
  }

  #bank-info input[type='submit'] {
    display: block;
    height: 60px;
    width: 350px;
    margin: 40px auto 0;
    transition: all 0.2s ease;
  }
  #bank-info input[type='submit']:hover {
    cursor: pointer;
    color: #f54ea2;
    border-color: #f54ea2;
  }
}
