@charset "UTF-8";

main .wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.tab-deposit {
  display: flex;
  border-bottom: 2px solid #f5f5f5;
}
.tab-deposit li {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: #555555;
  display: inline-block;
  width: 50%;
  padding: 10px 0 20px;
  cursor: pointer;
}

.tab-deposit li.active-tab {
  color: #f54ea2;
  border-bottom: 3px solid #f54ea2;
}

.deposit-history p {
  line-height: 1;
}

.deposit-history ul {
  display: none;
}
.deposit-history ul.show-list {
  display: block;
}
.deposit-history .deposit a {
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.deposit-history .deposit .date .time {
  margin-top: 5px;
}

.deposit-history .deposit .amount {
  font-size: 2.8rem;
  line-height: 1;
}

@media screen and (min-width: 769px) {
}
