@charset "UTF-8";

main {
  background-color: #f5f5f5;
}
main .wrap {
  width: 100vw;
}

.register-img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.fshnst-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
}
.mark-register {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 2.4rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  color: #f54ea2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  top: -35px;
  margin: 0 0 0 auto;
}

.fshnst-name {
  text-align: center;
  font-size: 2rem;
  line-height: 20px;
  font-weight: bold;
  word-break: break-word;
  width: 300px;
  margin: 10px auto;
}

#wrap-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#rating-item,
#rating-value {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1em;
}
#rating-value {
  padding-left: 10px;
}

.star-rating svg {
  width: 100%;
  height: 100%;
}
.star-rating {
  display: flex;
  width: 80px;
  justify-content: center;
}

.btn-profile-edit {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0;
}
.btn-profile-edit li {
  display: block;
  width: calc(50% - 10px);
  height: 40px;
}
.btn-profile-edit li a {
  display: block;
  background-color: #ffffff;
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  color: #f54ea2;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

.wrap-items {
  margin-top: 20px;
  padding: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}
.wrap-items li {
  box-sizing: border-box;
  width: 100vw;
  padding: 10px 20px;
}
.wrap-items li a {
  font-size: 1.6rem;
  line-height: 1em;
  color: #555555;
}
.wrap-items li a:hover {
  color: #f54ea2;
}
.wrap-items:last-of-type {
  margin-bottom: 100px;
}

@media screen and (min-width: 769px) {
  main .wrap {
    max-width: 480px;
    margin: 0 auto;
  }

  .wrap-items {
    border-radius: 15px;
  }
}
