@charset "UTF-8";
/* CSS Document */

main div.wrap {
  padding: 0 10px 40px;
  max-width: 769px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px 0 10px;
}

.item-fshnst, .item, .item-total {
  font-size: 1.6rem;
  font-weight: normal;
  color: #6F6F6F;
}
.item-fshnst {
  width: 100%;
}
.item, .item-total {
  width: 38.2%;
}

.card-fshnst {
  display: flex;
  max-width: 500px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.fshnst-img {
  object-fit: cover;
  align-self: center;
  margin: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.card-fshnst-r-elm {
  padding: 10px;
  align-self: center;
}
.fshnst-name {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
}

.subwrap {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 10px;
}

.value {
  font-size: 22px;
  font-weight: bold;
  width: 61.8%;
  line-height: 32px;
  margin-bottom: 20px;
}

.total {
  font-size: 40px;
  font-weight: bold;
  width: 61.8%;
}

input[type="button"] {
  display: block;
  color: #ffffff;
  background-color: #007AFF;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  max-width: 640px;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  transition: all 300ms 0s ease;
}

.precaution::before {
  content: "※";
}
.precaution {
  display: block;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  color: #FF3B30;
  width: 100%;
  max-width: 640px;
  margin: 5px auto 0;
}

@media screen and (min-width: 769px) {
  .title {
    font-size: 2.8rem;
    padding-bottom: 15px;
  }

  .item-fshnst {
    padding-left: 10px 0;
  }
  .card-fshnst {
    max-width: 61.8%; /* 1.618÷2.618×100 % */
    margin: 10px auto 0;
  }
  .fshnst-img {
    width: 100px;
    height: 100px;
  }

  .newline {
    display: none;
  }

  .item-total {
    width: 61.8%;
    align-self: flex-end;
    text-align: right;
  }
  .total {
    width: 38.2%;
    text-align: right;
  }

  input[type="button"]:hover {
    background-color: #0565CE;
  }
}