@charset "UTF-8";
main {
  padding-top: 0;
  margin-bottom: 80px;
}

main .bgc-gray {
  padding-top: 20px;
  background-color: #f5f5f5;
}

main .wrap h3 {
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  color: #555555;
}
main .caution {
  display: block;
  font-size: 1.2rem;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  color: #555555;
}

.wrap-fshnst {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: #ffffff;
}
.fshnst-img {
  display: block;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto 10px;
}
.fshnst-name {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0 auto;
  line-height: 1;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
}
.review textarea,
.review input[type='button'],
.review input[type='submit'] {
  display: block;
}
.review textarea {
  border: 1px solid #555555;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 1.6rem;
}
.review .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.review form {
  width: calc(50% - 10px);
}
.review input[type='submit'] {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}
.review #edit input[type='submit'] {
  border: 2px solid #555555;
  color: #555555;
  background-color: #ffffff;
}
.review #post input[type='submit'] {
  border: none;
  color: #ffffff;
  background-color: #f54ea2;
}

@media screen and (min-width: 769px) {
  main .wrap {
    max-width: 1000px;
    margin: 0 auto;
  }
  main .wrap h3 {
    font-size: 2.2rem;
  }
  main .caution {
    font-size: 1.4rem;
    text-align: center;
  }

  .fshnst-img {
    width: 150px;
    height: 150px;
  }
  .fshnst-name {
    font-size: 2.6rem;
  }

  .review textarea,
  .review .buttons {
    max-width: 769px;
    box-sizing: border-box;
  }
  .review textarea {
    margin-bottom: 40px;
  }
  .review .buttons {
    padding: 0 20px;
  }
  .review input[type='submit'] {
    height: 60px;
    font-size: 2.2rem;
  }
  .review input[type='submit']:hover {
    cursor: pointer;
  }
}
