@charset "UTF-8";
main {
  padding-top: 20px;
  margin-bottom: 80px;
}
main .wrap {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
main .wrap h3 {
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  color: #555555;
}

.wrap-fshnst {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  margin: 20px auto;
}
.fshnst-img {
  display: block;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
}
.fshnst-name {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0 auto;
  line-height: 1;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.review textarea,
.review input[type='submit'] {
  display: block;
}
.review textarea {
  border: 1px solid #555555;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  margin: 20px 0 5px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 1.6rem;
}
.review input[type='submit'] {
  width: 125px;
  height: 40px;
  margin: 40px auto 0;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #f54ea2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

.star-rating {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

#display-char-left,
#char-left {
  font-size: 1.6rem;
}
#display-char-left {
  color: #555555;
}

#char-left {
  display: inline-block;
}

.caution {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

.color-yellow {
  color: orange;
  font-weight: bold;
}
.color-red {
  color: red;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  main .wrap h3 {
    font-size: 2.2rem;
  }

  .fshnst-img {
    width: 150px;
    height: 150px;
  }
  .fshnst-name {
    font-size: 2.6rem;
  }

  .review {
    max-width: 769px;
    margin: 10px auto;
  }

  .review input[type='submit'] {
    width: 200px;
    height: 60px;
    font-size: 2.2rem;
  }
  .review input[type='submit']:hover {
    cursor: pointer;
  }

  .caution {
    font-size: 1.4rem;
  }
}
