@charset "UTF-8";
/* CSS Document */
/*====================================================*/
/* アイコンフォント */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?dbv202');
  src: url('fonts/icomoon.eot?dbv202#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dbv202') format('truetype'),
    url('fonts/icomoon.woff?dbv202') format('woff'),
    url('fonts/icomoon.svg?dbv202#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-timer:before {
  content: '\e900';
}
.icon-event_note:before {
  content: '\e901';
}
.icon-person_outline:before {
  content: '\e902';
}
.icon-check_circle_outline:before {
  content: '\e903';
}
.icon-search:before {
  content: '\e904';
}
.icon-heart-o:before {
  content: '\f08a';
}
.icon-commenting-o:before {
  content: '\f27b';
}
.icon-coin-yen:before {
  content: '\e93e';
}
/*====================================================*/
/* aタグリセット */
a:link {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #f54ea2;
  text-decoration: none;
}
a img {
  border-width: 0px;
  border-style: none;
  border-color: #fff;
  background: transparent;
}
/*====================================================*/
/* マイスタイル */
#header {
  height: 49px;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 100;
}
#wrap-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  text-align: center;
}

#menu {
  box-sizing: border-box;
  width: 100vw;
  height: 49px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.16);
}
#menu ul {
  display: flex;
  height: 100%;
}
#menu li {
  width: 20%;
  height: 100%;
}
#menu a {
  color: #9a9a9a;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#menu a:hover {
  color: #f54ea2;
}
#menu span[class^='icon-'] {
  font-size: 2rem;
}
#menu span[class^='menu-'] {
  font-size: 1.2rem;
}

#menu li a.active-menu {
  color: #f54ea2;
}

@media screen and (min-width: 769px) {
  #header {
    height: 80px;
    position: fixed;
    top: 0px;
    transition: 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .head-animation {
    transform: translateY(-150%);
  }
  #wrap-header {
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 20px;
  }
  #logo {
    cursor: pointer;
  }
  #menu {
    position: static;
    box-shadow: none;
    width: 400px;
  }

  main {
    margin-top: 80px;
  }
}
