@charset "UTF-8";
/* CSS Document */
/*====================================================*/
/* aタグリセット */
a:link {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #f54ea2;
  text-decoration: none;
}
a img {
  border-width: 0px;
  border-style: none;
  border-color: #fff;
  background: transparent;
}
/*====================================================*/
/* マイスタイル */
#header {
  height: 49px;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 100;
}
#wrap-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  text-align: center;
}

#menu {
  box-sizing: border-box;
  width: 100vw;
  height: 49px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.16);
}
#menu ul {
  display: flex;
  height: 100%;
}
#menu li {
  width: 20%;
  height: 100%;
}
#menu a {
  color: #9a9a9a;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#menu a:hover {
  color: #f54ea2;
}
#menu span[class^='icon-'] {
  font-size: 2rem;
}
#menu span[class^='menu-'] {
  font-size: 1.2rem;
}

#menu li a.active-menu {
  color: #f54ea2;
}

@media screen and (min-width: 769px) {
  #header {
    height: 80px;
    position: fixed;
    top: 0px;
    transition: 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .head-animation {
    transform: translateY(-150%);
  }
  #wrap-header {
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 20px;
  }
  #logo {
    cursor: pointer;
  }
  #menu {
    position: static;
    box-shadow: none;
    width: 400px;
  }

  main {
    margin-top: 80px;
  }
}
