@charset "UTF-8";
/* CSS Document */
main {
  background-color: #ffffff;
  padding-bottom: 100px;
}
main div.wrap {
  padding: 0 20px;
  max-width: 769px;
  margin: auto;
}
main p {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 21px;
  word-break: break-all;
}
main hr {
  height: 0;
  border: 0;
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
}
main .caution {
  display: block;
  font-size: 1.2rem;
  color: #555555;
  padding: 0 40px;
  line-height: 22px;
}
main .danger {
  color: #e7312d;
}

.wrap-fshnst {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 10px 0;
}
.fshnst-img {
  display: block;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.fshnst-name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px auto;
}

#styling-request button {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color: #f54ea2;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}

.reserve-info,
.card {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  background-color: #ffffff;
}
.item {
  display: block;
  font-weight: normal;
  color: #6f6f6f;
  width: 38.2%;
}
.value {
  display: block;
  box-sizing: border-box;
  padding-left: 10px;
  width: 61.8%;
}

.wrap-timer {
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}
.wrap-timer .caution {
  text-align: center;
  line-height: 1;
  padding: 0px;
}
.wrap-timer #default {
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 1;
  color: #44cdf5;
  text-align: center;
  margin: 10px 0;
}
.wrap-timer #button-start {
  display: block;
  box-sizing: border-box;
  width: 50%;
  height: 45px;
  border: 2px solid #44cdf5;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #44cdf5;
  margin: 0 auto;
  background-color: #ffffff;
}

.reserve-detail {
  position: relative;
  margin-top: 40px;
}
.reserve-detail .panel-title {
  display: block;
  position: absolute;
  top: -20px;
  font-size: 2rem;
  line-height: 36px;
  font-weight: bold;
  height: 40px;
  width: 100%;
  border: 2px solid #555555;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  color: #555555;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}
.reserve-detail .card {
  box-sizing: border-box;
  width: calc(100% - 8px);
  padding-top: 40px;
  margin: 0px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
#review-user {
  padding: 20px 0;
}
#review-user h3 {
  color: #44cdf5;
  text-align: center;
}
#review-user .caution {
  text-align: center;
  padding: 0px;
}
#review-user .star-rating {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}
#review-user input[type='submit'] {
  display: block;
  width: 150px;
  height: 40px;
  margin: 20px auto;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #f54ea2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}

.hide {
  display: none;
}

@media screen and (min-width: 769px) {
  main p {
    font-size: 1.8rem;
  }
  .title {
    font-size: 2.8rem;
    padding-bottom: 15px;
  }
  hr {
    margin: 20px 0;
  }
  .fshnst-img {
    width: 100px;
    height: 100px;
  }
  .fshnst-name {
    font-size: 2.2rem;
  }
  .card {
    padding: 20px 40px;
  }
  .newline {
    display: none;
  }
}
